# Verification

::: sc_neurocore.verification
